<div class="form">
  <form [formGroup]="form">
    <small style="color: white">Field with * is required</small>
    <div>
      <label style="color: white">Username*:</label>
      <input type = text [formControl]="username" placeholder="Type your username here">
      <small style="color: white" *ngIf="form.controls.username.invalid">Please enter a valid username</small>
    </div>
    <div>
      <label style="color: white">Password*:</label>
      <input type = password [formControl]="password" placeholder="Type you password here">
      <small style="color: white" *ngIf="form.controls.password.invalid">Password must be from 8 to 16 symbols</small>
    </div>
    <div>
      <label style="color: white">Password confirm*:</label>
      <input type = password [formControl]="confirmPassword" placeholder="Confirm your password">
      <small style="color: white" *ngIf="form.hasError('passwordError')">Passwords don`t match</small>
    </div>
    <div>
      <label style="color: white">Email*:</label>
      <input type = email [formControl]="email" placeholder="Type your email here">
      <small style="color: white" *ngIf="form.controls.email.invalid">Please enter a valid email</small>
    </div>
    <div>
      <label style="color: white">Phone*:</label>
      <input type = text [formControl]="phone" placeholder="Type you phone number here">
      <small style="color: white" *ngIf="form.controls.phone.invalid">Please enter a valid phone number</small>
    </div>
    <div>
      <label style="color: white">First name:</label>
      <input type = text [formControl]="first_name" placeholder="Type you first name here">
      <small style="color: white" *ngIf="form.controls.first_name.invalid">First name must be from 3 to 20 symbols</small>
    </div>
    <div>
      <label style="color: white">Last name:</label>
      <input type = text [formControl]="last_name" placeholder="Type you last name here">
      <small style="color: white" *ngIf="form.controls.last_name.invalid">Last name must be from 3 to 20 symbols</small>
    </div>
    <button [disabled]="form.invalid" type = submit (click)="register(form)">Confirm registration</button>
    <small style="color: white" *ngIf="error">{{error.detail}}</small>
  </form>
</div>
