<router-outlet></router-outlet>
<div class="list-group">
  <div *ngFor="let post of posts">
    <a routerLink="posts/{{post.id}}" style="background-color: #302f33" class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{post.title}}</h5>
        <small>Author:{{post.user}}</small>
      </div>
      <p class="mb-1">{{post.body}}</p>
      <div><small>Posted:{{post.created_at}}</small></div>
      <div><small>Last update:{{post.updated_at}}</small></div>
    </a>
  </div>
</div>
