<router-outlet></router-outlet>
<div class="list-group">
  <div *ngFor="let post of posts">
    <a routerLink="{{post.id}}" style="background-color: #302f33" class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{post.title}}</h5>
        <small>Author ID:{{post.userId}}</small>
      </div>
      <p class="mb-1">{{post.body}}</p>
      <small>Post ID:{{post.id}}</small>
    </a>
  </div>
</div>
