<div class="form">
  <form [formGroup]="form">
    <small style="color: white">Field with * is required</small>
    <div>
      <label style="color: white">Username*:</label>
      <input type = text [formControl]="username" placeholder="Type your username here">
      <small style="color: white" *ngIf="form.controls.username.invalid">Please enter a valid username</small>
    </div>
    <div>
      <label style="color: white">Password*:</label>
      <input type = password [formControl]="password" placeholder="Type you password here">
      <small style="color: white" *ngIf="form.controls.password.invalid">Password must be from 8 to 16 symbols</small>
    </div>
    <div>
<!--      <label style="color: white">Password confirm*:</label>-->
<!--      <input type = password [formControl]="confirmPassword" placeholder="Confirm your password">-->
<!--      <small style="color: white" *ngIf="form.hasError('passwordError')">Passwords don`t match</small>-->
    </div>
    <button [disabled]="form.invalid" type = submit (click)="logIn(form)">Log In</button>
    <div *ngIf="error">{{error.errorDetail}}</div>
  </form>
</div>
