<div class="list-group" *ngIf="comments">
  <div *ngFor="let comment of comments">
    <a routerLink="comment/{{comment.id}}" style="background-color: #302f33" class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{comment.body}}</h5>
        <small>Author: {{comment.name}}</small>
      </div>
      <p class="mb-1">{{comment.email}}</p>
      <small>Post ID:{{comment.postId}}</small>
      <small>Author ID:{{comment.id}}</small>
    </a>
  </div>
</div>
