<div *ngIf="!comments" style="color: white; display: flex; justify-content: center; align-items: center; font-size: 44px">
  THERE IS NOTHING TO SHOW HERE :(
</div>
<div class="list-group" *ngIf="comments">
  <div *ngFor="let comment of comments">
    <a routerLink="{{comment.id}}" style="background-color: #302f33" class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{comment.body}}</h5>
        <small>Author: {{comment.user}}</small>
      </div>
      <small>Posted:{{comment.created_at}}</small>
      <small>Updated:{{comment.updated_at}}</small>
    </a>
  </div>
</div>
