<div *ngIf="!user" style="display: flex; justify-content: center; align-items: center">
  <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>
<div *ngIf="user">
  <div style="float: left; width: 30%; display: flex; flex-direction: column; padding-left: 3.5%">
    <img class="avatar" *ngIf="!image" src="https://picsum.photos/id/{{user.id}}/200/300" alt="Card image cap">
    <img class="avatar" *ngIf="image" src="http://localhost:8000{{user.image}}" alt="Card image cap">
    <h3 class="card-title text-light list-group-item active">{{user.first_name}} {{user.last_name}}</h3>
    <h4 class="card-text text-light">Nickname:{{user.username}}</h4>
    <h4 class="card-text text-light list-group-item active">Email address:{{user.email}}</h4>
    <h4 class="card-text text-light">Phone:{{user.phone}}</h4>
    <h4 class="card-text text-light list-group-item active" >Last time online:{{user.last_login}}</h4>
    <h4 class="card-text text-light ">In our network since:{{user.date_joined}}</h4>
    <h4 *ngIf="user.is_staff && !user.is_superuser" class="card-text text-light list-group-item active">Moderator</h4>
    <h4 *ngIf="user.is_superuser" class="card-text text-light list-group-item active">Administrator</h4>
    <h4 *ngIf="!user.is_staff && !user.is_superuser" class="card-text text-light list-group-item active">User</h4>
  </div>
  <div class="form">
    <form [formGroup]="form" enctype="multipart/form-data">
      <div>
      <input class="form-control" type="text" [formControl]="title" placeholder="Type title of your post..">
      </div>
      <div>
      <textarea class="form-control" type="text" [formControl]="body" placeholder="Type your post here..."></textarea>
      </div>
      <div>
        <input style="color: white" type = file [formControl]="image" (change)="onFileUpload($event)">
      </div>
      <div>
        <button class="btn-primary" [disabled]="!form.valid" type="submit" (click)="doPost(form)">Add post</button>
      </div>
    </form>
  </div>
  <h4 class="card-text text-light">Posts:</h4>
  <div class="list-group" *ngIf="posts">
    <div *ngFor="let post of posts">
      <a routerLink="" style="background-color: #302f33" (click)="toPost(post.id)" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{user.first_name}} {{user.last_name}}</h5>
          <small >Posted: {{post.created_at}}</small>
        </div>
        <h6 class="mb-1">{{post.title}}</h6>
        <p class="mb-1">{{post.body}}</p>
        <div>
          <img class="post-image" *ngIf="post.image" src="http://localhost:8000{{post.image}}">
        </div>
        <small>Post ID:{{post.id}}</small>
      </a>
    </div>
  </div>
  <div *ngIf="!posts" style="display: flex; justify-content: center; align-items: center">
  <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </div>>
  <div *ngIf="posts.length===0" style="color: white; display: flex; justify-content: center; align-items: center; font-size: 44px">
    THERE IS NOTHING TO SHOW HERE :(
  </div>
</div>
