<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7043cbd3-bf35-45a5-958b-b3dcaee284f1/d39mxjk-6e38dbaf-c915-40f3-9c54-c423f30f1a69.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNzA0M2NiZDMtYmYzNS00NWE1LTk1OGItYjNkY2FlZTI4NGYxXC9kMzlteGprLTZlMzhkYmFmLWM5MTUtNDBmMy05YzU0LWM0MjNmMzBmMWE2OS5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.Ush1wfSj4j9UeWeKpziB62pQFmyBNCHHnyg_rLrRLkc" width="30" height="30" class="d-inline-block align-top" alt="">
    <a class="navbar-brand" routerLink="">Social Network</a>
    <div class="collapse navbar-collapse">
      <ol class="navbar-nav">
        <li class="nav-item"><a class="nav-link" routerLink="users">Users</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="posts">Posts</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="comments">Comments</a></li>
      </ol>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
