<div>
  <h4 class="text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab ad, alias asperiores distinctio exercitationem facilis fugiat fugit illo, ipsum iure laborum laudantium minus nemo numquam! At in optio provident!</h4>
  <h6 class="text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, alias aliquid asperiores at commodi eaque eligendi eum illo incidunt maiores maxime odio odit quis quod sit suscipit unde vitae voluptatum.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium ad, aut consectetur dicta, est excepturi expedita facere, fugiat harum hic necessitatibus porro provident quos reiciendis rem ut vitae voluptate!
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda cum dignissimos hic modi repellat, sapiente veritatis? Aliquid consequuntur doloremque facilis, fugit illo iusto laudantium officia, quos recusandae suscipit vel vitae?
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam commodi iure quisquam tenetur voluptatibus! Alias architecto corporis, culpa dolorum ducimus eveniet explicabo hic minima natus nemo nesciunt nisi nulla rem.
  </h6>
  <hr>
  <h5 class="text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias atque, consequatur deserunt ducimus eos expedita id nesciunt nisi quidem quis repellat rerum similique ullam unde ut velit veritatis voluptas?</h5>
  <h6 class="text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda delectus dicta earum est fuga iste quaerat saepe sint tempora velit. Aut facilis, impedit iure modi optio quaerat rerum sit voluptatum?
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam dolores doloribus enim illo in, ipsam, mollitia quaerat, qui quisquam sed tenetur. A blanditiis iusto libero nemo nihil quisquam voluptatem.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut delectus illo, in non nulla praesentium voluptatum. Aliquid amet animi, commodi delectus id molestias nisi, nulla optio placeat quia quisquam!
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam culpa doloremque ex in, itaque nostrum provident ratione soluta vero voluptas. Cupiditate odio porro possimus quod rem sapiente sit sunt? Odio.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores consequatur corporis dolor ducimus ea error illum, in ipsam iste magnam mollitia nisi, numquam omnis placeat quae quia repudiandae tenetur.</h6>
</div>
<router-outlet></router-outlet>
