<div class="float-left">
  <h4 class="card-text text-light">Chats:</h4>
  <div class="list-group" *ngIf="chats">
    <div *ngFor="let chat of chats">
        <a style="background-color: #302f33"
           class="list-group-item list-group-item-action flex-column align-items-start active"
           routerLink="user_account/messenger" (click)="toChat(chat)">
          <h5 class="mb-1">{{chat}}</h5>
        </a>
    </div>
  </div>
</div>
<div>
  <h4 class="card-text text-light">Chat:</h4>
  <div class="list-group" *ngIf="activeChat">
    <div *ngFor="let message of activeChat">
      <a style="background-color: #302f33" [ngClass]="{'justify-content-end':message.sender===this.user.id}"
         class="d-flex list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
          <h5 *ngIf="message.sender!=this.user.id" class="mb-1">{{message.sender_name}}</h5>
          <small *ngIf="message.sender!=this.user.id" >Sended: {{message.created_at}}</small>
          <small *ngIf="message.sender==this.user.id" >Sended: {{message.created_at}}</small>
          <h5 *ngIf="message.sender==this.user.id" class="mb-1">{{message.sender_name}}</h5>
        </div>
        <h6 class="mb-1">{{message.body}}</h6>
        <div>
          <img class="post-image" *ngIf="message.image" src="http://localhost:8000{{message.image}}">
        </div>
        <small>Message ID:{{message.id}}</small>
      </a>
    </div>
  </div>
  <div class="form" *ngIf="activeChat">
    <form [formGroup]="form" enctype="multipart/form-data">
      <div>
      <textarea class="form-control" type="text" [formControl]="body" placeholder="Write something..."></textarea>
      </div>
      <div>
        <input style="color: white" type = file [formControl]="image" (change)="onFileUpload($event)">
      </div>
      <div>
        <button class="btn-primary" [disabled]="!form.valid" type="submit" (click)="send(form)">Send</button>
      </div>
    </form>
  </div>
</div>


